{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "styles": "./src/styles",
        "components": "./src/components",
        "screens": "./src/screens",
        "modules": "./src/modules",
        "services": "./src/services"
      }
    }]
  ]
}
